h1{
    color: blue;
    font-size: 40px;
    text-shadow: 8px 8px 8px grey;
}
button{
    background-color: blueviolet;
    color: cadetblue;
    padding: 20px;
    margin-left: 60px;
    border-radius: 10px;
    margin-top: 60px;
}
h2{
    color: cornflowerblue;
}
img{
    width: 400px;
    height: 250px;
}